{% extends 'pdfGen/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" , name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" , name="email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="phone" , name="phone">
                </div>
                <div class="mb-3">
                    <label for="summary" class="form-label">About </label>
                    <textarea type="text" cols="30" rows="10" class="form-control" id="summary" ,
                        name="summary"></textarea>
                </div>
                <div class="mb-3">
                    <label for="degree" class="form-label">Degree</label>
                    <input type="text" class="form-control" id="degree" , name="degree">
                </div>
                <div class="mb-3">
                    <label for="school" class="form-label">School</label>
                    <input type="text" class="form-control" id="school" , name="school">
                </div>
                <div class="mb-3">
                    <label for="university" class="form-label">University</label>
                    <input type="text" class="form-control" id="university" , name="university">
                </div>
                <div class="mb-3">
                    <label for="previous_work" class="form-label">Previous Work</label>
                    <textarea type="text" cols="30" rows="10" class="form-control" id="previous_work" ,
                        name="previous_work"></textarea>
                </div>
                <div class="mb-3">
                    <label for="skills" class="form-label">Skills</label>
                    <textarea type="text" cols="30" rows="10" class="form-control" id="skills" ,
                        name="skills"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}